@import './fonts/icomoon.css';
@import './fonts/icomoon.css';
@import './fonts/icomoon.css';
body {
  font-family: "icomoon", sans-serif;
}
body h2 {
  font-weight: 700;
  font-size: 2rem;
}
body h5 {
  font-size: 1rem;
}

.activated {
  color: #6C97B3;
}

header .banner .row {
  color: #8D8D8D;
  font-size: 0.95rem;
}
header .banner .row .contact p span {
  font-weight: 700;
}
header .banner .row .user-items ul li a {
  color: #8D8D8D;
}
header .banner .row .user-items ul li a:hover {
  color: #000;
}
header .navbar .navbar-nav li a {
  font-size: 0.75rem;
}
header .navbar .navbar-nav li a:hover {
  color: #6C97B3;
}

.hero .responsive .arrows {
  font-size: 2rem;
}
.hero .slides-content h1 {
  font-size: 5rem;
  font-weight: 800;
}
.hero .slides-content h1 span {
  line-height: 4.25rem;
}
.hero .slides-content p {
  font-size: 0.75rem;
  color: #8D8D8D;
  margin: 3rem 0;
  line-height: 1rem;
}

.products .content-head h2 {
  font-weight: 700;
  font-size: 2rem;
}
.products .content-head a {
  text-decoration: none;
  color: #000;
  font-size: 0.8rem;
}
.products .content-head a:hover {
  color: #6C97B3;
}

.card .card-content h5 {
  font-weight: 700;
}
.card .card-content h5:hover {
  color: #6C97B3;
  cursor: pointer;
}
.card .card-content h4 {
  color: #6C97B3;
}
.card .card-img .cart-content h6,
.card .card-img .cart-content i {
  font-size: 0.8rem;
  margin: 0;
}

.selections .row .content {
  color: #8D8D8D;
}
.selections .row .content span {
  font-size: 1.25rem;
}
.selections .row .content h2 {
  font-weight: 800;
  font-size: 3.8rem;
  color: #000;
}
.selections .row .content p {
  font-size: 1rem;
}
.selections .row .basic-collection .content h2,
.selections .row .best-selling .content h2 {
  font-size: 3rem;
}

.discount .row .content h2 {
  font-size: 2.55rem;
  font-weight: 700;
}
.discount .row .content p {
  font-size: 0.8rem;
  color: #8D8D8D;
}
.discount .row .form .subscribe-btn {
  font-size: 12px;
}

.all-products .heading h2 {
  font-weight: 700;
  font-size: 2.4rem;
}
.all-products .tabs .tab {
  color: #8D8D8D;
  font-weight: 500;
}
.all-products .tabs .tab:hover {
  color: #6995B1;
  cursor: pointer;
}

.testimonial .row .quotation-col i {
  color: #8D8D8D;
  font-size: 8rem;
}
.testimonial .row .slides-content p {
  font-size: 1rem;
}
.testimonial .row .slides-content h5 {
  color: #6C97B3;
}
.testimonial .row .test-arrows:hover {
  cursor: pointer;
}

.sales .slick-dots {
  color: #6C97B3;
}
.sales .card .card-img .sales-content h6 {
  color: #fff;
  font-weight: 700;
}
.sales .card .card-content .original-price {
  text-decoration: line-through;
}
.sales .card .card-content .sales-price {
  color: #6C97B3;
  font-size: 1.5rem;
}

.denim-collection .content {
  color: #8D8D8D;
}
.denim-collection .content h2 {
  font-size: 4rem;
  font-weight: 800;
  color: #000;
}
.denim-collection .content p {
  font-size: 0.95rem;
}

.day-quote .content {
  text-align: center;
  color: #8D8D8D;
}
.day-quote .content p {
  font-weight: 800;
}
.day-quote .content h2 {
  color: #000;
}

.journal .row .card-content .date-content h3 {
  font-size: 1rem;
  color: #8D8D8D;
}
.journal .row .card-content .date-content h3 span {
  display: block;
  font-size: 3rem;
  color: #6C97B3;
}
.journal .row .card-content .blog-link a {
  display: block;
  font-weight: 700;
  font-size: 1rem;
}
.journal .row .card-content .blog-link a:hover {
  color: #6C97B3;
}
.journal .row .card-content .blog-link .topic {
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 0.188rem;
  color: #8D8D8D;
  font-size: 0.75rem;
  margin: 0.75rem 0;
}

.insta-page .insta-hover {
  color: #fff;
  font-size: 2rem;
}

.common-hover:hover {
  color: #6995B1;
}
.common-hover:hover i {
  animation: slideRight 0.5s ease-out;
}

.shop-now-btn {
  padding: 0.6rem 3rem;
}
.shop-now-btn:hover {
  background: #191919;
  color: #fff;
}
.shop-now-btn:hover i {
  animation: slideRight 0.5s ease-out;
}

.discount .subscribe-btn {
  padding: 0.5rem;
  text-transform: uppercase;
  font-weight: 600;
  border-radius: 0;
}

.slick-dots {
  width: 95%;
}
.slick-dots li.slick-active button {
  border: 2px solid #6C97B3;
  border-radius: 50%;
}

@keyframes slideDown {
  from {
    transform: translateY(-100%);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}
@keyframes slideRight {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(30%);
  }
}
@keyframes zoom-in {
  from {
    transform: scale(1);
  }
  to {
    transform: scale(1.2);
  }
}
body {
  font-family: "icomoon", sans-serif;
}
body h2 {
  font-weight: 700;
  font-size: 2rem;
}
body h5 {
  font-size: 1rem;
}

.activated {
  color: #6C97B3;
}

header .banner .row {
  color: #8D8D8D;
  font-size: 0.95rem;
}
header .banner .row .contact p span {
  font-weight: 700;
}
header .banner .row .user-items ul li a {
  color: #8D8D8D;
}
header .banner .row .user-items ul li a:hover {
  color: #000;
}
header .navbar .navbar-nav li a {
  font-size: 0.75rem;
}
header .navbar .navbar-nav li a:hover {
  color: #6C97B3;
}

.hero .responsive .arrows {
  font-size: 2rem;
}
.hero .slides-content h1 {
  font-size: 5rem;
  font-weight: 800;
}
.hero .slides-content h1 span {
  line-height: 4.25rem;
}
.hero .slides-content p {
  font-size: 0.75rem;
  color: #8D8D8D;
  margin: 3rem 0;
  line-height: 1rem;
}

.products .content-head h2 {
  font-weight: 700;
  font-size: 2rem;
}
.products .content-head a {
  text-decoration: none;
  color: #000;
  font-size: 0.8rem;
}
.products .content-head a:hover {
  color: #6C97B3;
}

.card .card-content h5 {
  font-weight: 700;
}
.card .card-content h5:hover {
  color: #6C97B3;
  cursor: pointer;
}
.card .card-content h4 {
  color: #6C97B3;
}
.card .card-img .cart-content h6,
.card .card-img .cart-content i {
  font-size: 0.8rem;
  margin: 0;
}

.selections .row .content {
  color: #8D8D8D;
}
.selections .row .content span {
  font-size: 1.25rem;
}
.selections .row .content h2 {
  font-weight: 800;
  font-size: 3.8rem;
  color: #000;
}
.selections .row .content p {
  font-size: 1rem;
}
.selections .row .basic-collection .content h2,
.selections .row .best-selling .content h2 {
  font-size: 3rem;
}

.discount .row .content h2 {
  font-size: 2.55rem;
  font-weight: 700;
}
.discount .row .content p {
  font-size: 0.8rem;
  color: #8D8D8D;
}
.discount .row .form .subscribe-btn {
  font-size: 12px;
}

.all-products .heading h2 {
  font-weight: 700;
  font-size: 2.4rem;
}
.all-products .tabs .tab {
  color: #8D8D8D;
  font-weight: 500;
}
.all-products .tabs .tab:hover {
  color: #6995B1;
  cursor: pointer;
}

.testimonial .row .quotation-col i {
  color: #8D8D8D;
  font-size: 8rem;
}
.testimonial .row .slides-content p {
  font-size: 1rem;
}
.testimonial .row .slides-content h5 {
  color: #6C97B3;
}
.testimonial .row .test-arrows:hover {
  cursor: pointer;
}

.sales .slick-dots {
  color: #6C97B3;
}
.sales .card .card-img .sales-content h6 {
  color: #fff;
  font-weight: 700;
}
.sales .card .card-content .original-price {
  text-decoration: line-through;
}
.sales .card .card-content .sales-price {
  color: #6C97B3;
  font-size: 1.5rem;
}

.denim-collection .content {
  color: #8D8D8D;
}
.denim-collection .content h2 {
  font-size: 4rem;
  font-weight: 800;
  color: #000;
}
.denim-collection .content p {
  font-size: 0.95rem;
}

.day-quote .content {
  text-align: center;
  color: #8D8D8D;
}
.day-quote .content p {
  font-weight: 800;
}
.day-quote .content h2 {
  color: #000;
}

.journal .row .card-content .date-content h3 {
  font-size: 1rem;
  color: #8D8D8D;
}
.journal .row .card-content .date-content h3 span {
  display: block;
  font-size: 3rem;
  color: #6C97B3;
}
.journal .row .card-content .blog-link a {
  display: block;
  font-weight: 700;
  font-size: 1rem;
}
.journal .row .card-content .blog-link a:hover {
  color: #6C97B3;
}
.journal .row .card-content .blog-link .topic {
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 0.188rem;
  color: #8D8D8D;
  font-size: 0.75rem;
  margin: 0.75rem 0;
}

.insta-page .insta-hover {
  color: #fff;
  font-size: 2rem;
}

.cart-content {
  position: absolute;
  display: none;
  justify-content: space-between;
  top: 9rem;
  left: 1rem;
  padding: 0.8rem;
  width: 85%;
  background: #fff;
  height: 2.5rem;
  align-items: center;
}

.card {
  border: 0;
}
.card .card-img {
  border: 1px solid #8D8D8D;
  padding: 0.3rem;
  position: relative;
}
.card .card-img img {
  width: 100%;
}
.card .card-img:hover {
  cursor: pointer;
}
.card .card-img:hover .cart-content {
  position: absolute;
  display: flex;
  justify-content: space-between;
  top: 9rem;
  left: 1rem;
  padding: 0.8rem;
  width: 85%;
  background: #fff;
  height: 2.5rem;
  align-items: center;
  animation: slideDown 0.5s ease-in-out;
}
.card .card-content {
  margin: 1rem 0;
}

.all-products .row {
  margin: 1rem 0;
}

.sales .sales-slider .card {
  margin: 0 0.625rem;
}

.journal .card .card-img {
  border: 0;
  overflow: hidden;
  width: 100%;
  height: 100%;
  display: inline-block;
}
.journal .card .card-img img {
  border-radius: 0.313rem;
}
.journal .card:hover img {
  transform: scale(1.2);
}

.insta-page .card .card-img {
  border: 0;
}
.insta-page .card:hover {
  cursor: pointer;
}
.insta-page .card:hover .insta-hover {
  display: flex;
}
.insta-page .card .insta-hover {
  position: absolute;
  display: none;
  justify-content: center;
  top: 0;
  left: 0;
  padding: 0.8rem;
  width: 100%;
  background: rgba(128, 128, 128, 0.5);
  height: 12.4rem;
  align-items: center;
  color: rgb(255, 255, 255);
}

body {
  font-family: "icomoon", sans-serif;
}
body h2 {
  font-weight: 700;
  font-size: 2rem;
}
body h5 {
  font-size: 1rem;
}

.activated {
  color: #6C97B3;
}

header .banner .row {
  color: #8D8D8D;
  font-size: 0.95rem;
}
header .banner .row .contact p span {
  font-weight: 700;
}
header .banner .row .user-items ul li a {
  color: #8D8D8D;
}
header .banner .row .user-items ul li a:hover {
  color: #000;
}
header .navbar .navbar-nav li a {
  font-size: 0.75rem;
}
header .navbar .navbar-nav li a:hover {
  color: #6C97B3;
}

.hero .responsive .arrows {
  font-size: 2rem;
}
.hero .slides-content h1 {
  font-size: 5rem;
  font-weight: 800;
}
.hero .slides-content h1 span {
  line-height: 4.25rem;
}
.hero .slides-content p {
  font-size: 0.75rem;
  color: #8D8D8D;
  margin: 3rem 0;
  line-height: 1rem;
}

.products .content-head h2 {
  font-weight: 700;
  font-size: 2rem;
}
.products .content-head a {
  text-decoration: none;
  color: #000;
  font-size: 0.8rem;
}
.products .content-head a:hover {
  color: #6C97B3;
}

.card .card-content h5 {
  font-weight: 700;
}
.card .card-content h5:hover {
  color: #6C97B3;
  cursor: pointer;
}
.card .card-content h4 {
  color: #6C97B3;
}
.card .card-img .cart-content h6,
.card .card-img .cart-content i {
  font-size: 0.8rem;
  margin: 0;
}

.selections .row .content {
  color: #8D8D8D;
}
.selections .row .content span {
  font-size: 1.25rem;
}
.selections .row .content h2 {
  font-weight: 800;
  font-size: 3.8rem;
  color: #000;
}
.selections .row .content p {
  font-size: 1rem;
}
.selections .row .basic-collection .content h2,
.selections .row .best-selling .content h2 {
  font-size: 3rem;
}

.discount .row .content h2 {
  font-size: 2.55rem;
  font-weight: 700;
}
.discount .row .content p {
  font-size: 0.8rem;
  color: #8D8D8D;
}
.discount .row .form .subscribe-btn {
  font-size: 12px;
}

.all-products .heading h2 {
  font-weight: 700;
  font-size: 2.4rem;
}
.all-products .tabs .tab {
  color: #8D8D8D;
  font-weight: 500;
}
.all-products .tabs .tab:hover {
  color: #6995B1;
  cursor: pointer;
}

.testimonial .row .quotation-col i {
  color: #8D8D8D;
  font-size: 8rem;
}
.testimonial .row .slides-content p {
  font-size: 1rem;
}
.testimonial .row .slides-content h5 {
  color: #6C97B3;
}
.testimonial .row .test-arrows:hover {
  cursor: pointer;
}

.sales .slick-dots {
  color: #6C97B3;
}
.sales .card .card-img .sales-content h6 {
  color: #fff;
  font-weight: 700;
}
.sales .card .card-content .original-price {
  text-decoration: line-through;
}
.sales .card .card-content .sales-price {
  color: #6C97B3;
  font-size: 1.5rem;
}

.denim-collection .content {
  color: #8D8D8D;
}
.denim-collection .content h2 {
  font-size: 4rem;
  font-weight: 800;
  color: #000;
}
.denim-collection .content p {
  font-size: 0.95rem;
}

.day-quote .content {
  text-align: center;
  color: #8D8D8D;
}
.day-quote .content p {
  font-weight: 800;
}
.day-quote .content h2 {
  color: #000;
}

.journal .row .card-content .date-content h3 {
  font-size: 1rem;
  color: #8D8D8D;
}
.journal .row .card-content .date-content h3 span {
  display: block;
  font-size: 3rem;
  color: #6C97B3;
}
.journal .row .card-content .blog-link a {
  display: block;
  font-weight: 700;
  font-size: 1rem;
}
.journal .row .card-content .blog-link a:hover {
  color: #6C97B3;
}
.journal .row .card-content .blog-link .topic {
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 0.188rem;
  color: #8D8D8D;
  font-size: 0.75rem;
  margin: 0.75rem 0;
}

.insta-page .insta-hover {
  color: #fff;
  font-size: 2rem;
}

@keyframes slideDown {
  from {
    transform: translateY(-100%);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}
@keyframes slideRight {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(30%);
  }
}
@keyframes zoom-in {
  from {
    transform: scale(1);
  }
  to {
    transform: scale(1.2);
  }
}
header .container-fluid {
  padding: 0 2rem;
}
header .banner {
  border-bottom: 1px #8D8D8D solid;
}
header .banner .row p {
  margin-bottom: 0;
}
header .banner .row .user-items ul li {
  margin: 0 5px;
}
header .navbar {
  background: #fff;
}
header .navbar .navbar-brand img {
  width: 70%;
}
header .navbar .navbar-nav li {
  margin: 0 1.2rem;
}

@keyframes slideDown {
  from {
    transform: translateY(-100%);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}
@keyframes slideRight {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(30%);
  }
}
@keyframes zoom-in {
  from {
    transform: scale(1);
  }
  to {
    transform: scale(1.2);
  }
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
}
* a {
  text-decoration: none;
  color: #000;
}

.selections {
  display: none;
}

.hero .container-fluid .responsive {
  position: relative;
  padding: 0 2rem;
}
.hero .container-fluid .responsive .arrows {
  display: none;
  position: absolute;
  z-index: 1;
  top: 0;
  bottom: 15rem;
  width: 2.5rem;
  padding: 0.188rem 0 0.188rem 1rem;
}
.hero .container-fluid .responsive .arrows:hover {
  background: #6995B1;
  color: #fff;
}
.hero .container-fluid .responsive .left-arrow {
  right: 0;
  left: 1%;
  top: 51%;
  bottom: 41%;
  transform: translateY(-68%);
}
.hero .container-fluid .responsive .right-arrow {
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}
.hero .container-fluid .responsive .slides {
  width: 100%;
  position: relative;
}
.hero .container-fluid .responsive .slides .banner-1-img-content {
  background: url(/images/banner1.jpg) 0 -53px no-repeat;
  background-size: cover;
  min-height: 35rem;
}
.hero .container-fluid .responsive .slides .banner-2-img-content {
  background: url(/images/banner2.jpg) 0 -55px no-repeat;
  background-size: cover;
  min-height: 35rem;
}
.hero .container-fluid .responsive .slides .slides-content {
  position: absolute;
  bottom: 6rem;
  left: 10rem;
  width: 40%;
}
.hero .container-fluid .responsive .slides img {
  width: 100%;
  height: 10%;
}

.products {
  padding: 5rem 0;
}
.products .row {
  margin: 4rem 0 0;
}

.selections {
  padding: 3rem 0;
  background: #FAFAFA;
}
.selections .col-md-12 {
  border-radius: 0.5rem;
}
.selections .row .casual-collection {
  min-height: 36rem;
  background: url(/images/collection-item1.jpg) -1px -60px no-repeat;
  position: relative;
  background-size: cover;
}
.selections .row .casual-collection .content {
  width: 47%;
  position: absolute;
  top: 5rem;
  left: 20.5rem;
  padding: 0 0 0 2.12rem;
}
.selections .row .casual-collection .content p {
  margin: 2rem 0;
}
.selections .row .inner-row {
  flex-direction: column;
  padding: 0 0 0 2rem;
}
.selections .row .inner-row .content {
  padding: 1.8rem 0;
  width: 60%;
}
.selections .row .inner-row .basic-collection {
  background: url(/images/collection-item2.jpg) -3px -40px no-repeat;
  width: 100%;
}
.selections .row .inner-row .best-selling {
  background: url(/images/collection-item3.jpg) -116px -46px no-repeat;
  width: 100%;
}
.selections .row .inner-row .basic-collection .content,
.selections .row .inner-row .best-selling .content {
  padding-left: 4rem;
}

.discount {
  padding: 6rem 0;
}
.discount .row .content p {
  margin: 3rem 0;
}
.discount .row .form .form-control {
  width: 75%;
  border-radius: 0;
  padding: 0.8rem;
}

.all-products {
  padding: 5rem 0;
  background: #fafafa;
}
.all-products .tabs .tab:first-child {
  margin-right: 1rem;
}
.all-products .tabs .tab:not(:first-child) {
  margin: 0 1.5rem;
}

.testimonial {
  padding: 5rem 0;
}
.testimonial .quotation-col {
  padding: 2rem 0;
}
.testimonial .testimonial-slider {
  position: relative;
  padding: 0 2rem;
}
.testimonial .testimonial-slider .arrows {
  display: none;
  position: absolute;
  z-index: 1;
  top: 16rem;
  bottom: 0;
  width: 2.5rem;
  padding: 0.188rem 0 0.188rem 1rem;
}
.testimonial .testimonial-slider .left-arrow {
  right: 0;
  left: 0;
  top: 256px;
  bottom: 50%;
  transform: translateY(-50%);
}
.testimonial .testimonial-slider .right-arrow {
  left: 2rem;
  bottom: 50%;
  transform: translateY(-50%);
}

.sales .card-img .sales-content {
  width: 30%;
  text-align: center;
  position: absolute;
  padding: 0.4rem 0 0;
  background: #6C97B3;
}

.denim-collection {
  border-radius: 10rem;
  padding: 4rem 0;
}
.denim-collection .cover-img {
  background: url(/images/model.jpg) 0 0 no-repeat;
  background-size: cover;
  min-height: 35rem;
  position: relative;
  border-radius: 0.5rem;
}
.denim-collection .cover-img .content {
  position: absolute;
  left: 48rem;
  top: 12rem;
  width: 36%;
}
.denim-collection .cover-img .content p {
  margin: 1.5rem 0;
}

.day-quote {
  padding: 5rem 0;
}
.day-quote .content {
  width: 50%;
  margin: 0 auto;
}
.day-quote .content p {
  margin: 2rem 0;
}

.journal {
  padding: 7.5rem 3rem 5rem;
  border-top: 0.063rem #8D8D8D solid;
}
.journal img {
  transition: transform 0.5s ease;
  width: 100%;
  height: 100%;
}

.company {
  background: "#FAFAFA";
}
.company .row .col-lg-2 img {
  width: 80%;
}

.insta-page {
  padding: 5rem 0;
}/*# sourceMappingURL=main.css.map */