@import "../utils/variables";
@import "../utils/mixins";
@import '../base/typography';
@import '../animations/animation';

header{

    .container-fluid{
        padding: 0 2rem;
    }

    .banner{
        border-bottom: 1px $secondary-font-col solid;

    
        
        .row{
            
            p{
                margin-bottom: 0;
            }
            // .col-lg-4{
            //     padding: 0.4rem 0 0;
            // }
            .user-items{
                ul{
                    li{
                        margin: 0 5px;
                    }
                }
            }
        }
    }
    .navbar{
    background: #fff;
        
        .navbar-brand{
            img{
                width: 70%;
            }
        }
        .navbar-nav{
            li{
                margin: 0 1.2rem;
            }
        }
    }
}