@import '../utils/mixins';
@import '../utils/variables';
@import '../animations/animation';



        .card{
            border: 0;

            .card-img{
                border: 1px $secondary-font-col solid;
                padding: 0.30rem;
                position: relative;
                img{

                    width: 100%;
                }
                .cart-content{
                    @include cart-content();
                }

                &:hover{
                    cursor: pointer;
                    .cart-content{
                        display: flex;
                        justify-content: space-between;
                        cursor: default;
                        animation: slideDown 0.5s ease-out;;
                    }
                }
            }
            .card-content{
                margin: 1rem 0;

            }
           
        }
    
        
        .all-products{
            .cards{
                .card-content{
                    @include cart-content(10%, 14rem, 2rem, 1rem);
                }
            }
        }
