@import '../utils/mixins';
@import '../utils/variables';
@import '../animations/animation';
@import '../base/typography';


.cart-content{
    @include cart-content()
}


.card {
    border: 0;

    .card-img {
        border: 1px solid $secondary-font-col;
        padding: 0.3rem;
        position: relative;

        img {
            width: 100%;
        }

        

        &:hover {
            cursor: pointer;

            .cart-content{
                @include cart-content($dp:flex);
                animation: slideDown 0.5s ease-in-out;
            }
        
        }
    }

    .card-content {
        margin: 1rem 0;
    }
}




.all-products {
    .row{
        margin: 1rem 0;

   
    }
    
}

.sales{

    .sales-slider{

        .card{
            margin: 0 0.625rem;
            
        }
    }
}
