@import './fonts/icomoon.css';
@import '../utils/mixins';
@import '../utils/variables';

body {
  font-family: 'icomoon', sans-serif;

  h2 {
    font-weight: 700;
    font-size: 2rem;
  }

  h5 {
    font-size: 1rem;
  }
}




.activated {
  color: $hover-font-color ;
}

header {
  .banner {
    .row {
      color: $secondary-font-col;
      font-size: 0.95rem;

      .contact {
        p {
          span {
            font-weight: 700;
          }
        }
      }

      .user-items {
        ul {
          li {
            a {
              color: $secondary-font-col;

              &:hover {
                color: #000;
              }
            }
          }
        }
      }
    }
  }

  .navbar {
    .navbar-nav {
      li {
        a {
          font-size: 0.75rem;

          &:hover {
            color: $hover-font-color;
          }
        }
      }
    }
  }
}




.hero {

  .responsive {
    .arrows {
      font-size: 2rem;
    }
  }

  .slides-content {
    h1 {
      font-size: 5rem;
      font-weight: 800;

      span {
        line-height: 4.25rem;
      }

    }

    p {
      font-size: 0.75rem;
      color: $secondary-font-col;
      margin: 3rem 0;
      line-height: 1rem;
    }


  }
}

.products {
  .content-head {
    h2 {

      font-weight: 700;
      font-size: 2rem;
    }

    a {
      text-decoration: none;
      color: #000;
      font-size: 0.8rem;

      &:hover {
        color: $hover-font-color;
      }
    }
  }


}

.card {
  .card-content {
    h5 {
      font-weight: 700;

      &:hover {
        color: $hover-font-color;
        cursor: pointer;
      }

    }



    h4 {
      color: $hover-font-color;
    }

  }

  .card-img {
    .cart-content {

      h6,
      i {
        font-size: 0.8rem;
        margin: 0;
      }
    }

  }
}


.selections {
  .row {
    .content {

      color: $secondary-font-col;

      span {
        font-size: 1.25rem;
      }

      h2 {
        font-weight: 800;
        font-size: 3.8rem;
        color: #000;

      }

      p {
        font-size: 1rem;
      }

    }

    .basic-collection,
    .best-selling {
      .content {

        h2 {
          font-size: 3rem;
        }
      }
    }
  }
}


.discount {
  .row {
    .content {
      h2 {
        font-size: 2.55rem;
        font-weight: 700;

      }

      p {
        font-size: 0.8rem;
        color: $secondary-font-col;
      }
    }

    .form {
      .subscribe-btn {
        font-size: 12px;
      }
    }
  }
}

.all-products {
  .heading {
    h2 {
      font-weight: 700;
      font-size: 2.4rem;
    }
  }

  .tabs {
    .tab {
      color: $secondary-font-col;
      font-weight: 500;

      &:hover {
        color: $hover-arrow-color;
        cursor: pointer;
      }
    }
  }
}


.testimonial {
  .row {

    .quotation-col {
      i {
        color: $secondary-font-col;
        font-size: 8rem;
      }
    }

    .slides-content {
      p {
        font-size: 1rem;
      }

      h5 {
        color: $hover-font-color;
      }
    }

    .test-arrows {
      &:hover {
        cursor: pointer;
      }
    }
  }
}

.sales {
  .slick-dots {
    color: $hover-font-color;
  }

  .card {

    .card-img {
      .sales-content {
        h6 {
          color: #fff;
          font-weight: 700;
        }

      }
    }

    .card-content {
      .original-price {
        text-decoration: line-through;
      }

      .sales-price {
        color: $hover-font-color;
        font-size: 1.5rem;
      }
    }
  }
}

.denim-collection {
  .content {
    color: $secondary-font-col;

    h2 {
      font-size: 4rem;
      font-weight: 800;
      color: #000;
    }


    p {
      font-size: 0.95rem;
    }
  }
}

.day-quote {
  .content {
    text-align: center;
    color: $secondary-font-col;

    p {
      font-weight: 800;
    }

    h2 {
      color: #000;
    }
  }
}

.journal {
  .row {
    .card-content {
      .date-content {
        h3 {
          font-size: 1rem;
          color: $secondary-font-col;

          span {
            display: block;
            font-size: 3rem;
            color: $hover-font-color;
          }
        }

      }

      .blog-link {
        a {
          display: block;
          font-weight: 700;
          font-size: 1rem ;
          &:hover{
            color: $hover-font-color;
          }
        }

        .topic {
          font-weight: 600;
          text-transform: uppercase;
          letter-spacing: 0.188rem;
          color: #8D8D8D;
          font-size: 0.75rem;
          margin: 0.75rem 0;
        }
      }
    }
  }
}


.insta-page{
  .insta-hover{
    color: #fff;
    font-size: 2rem;
  }
}