@mixin cart-content($width: 85%, $top: 9rem, $left: 1rem, $padding: 0.6rem) {
    position: absolute;
    width: $width;
    background: #fff;
    top: $top;
    left: $left;
    padding: $padding;
    display: none;
}


@mixin arrows-style($top: 0, $bottom: 15rem, $width: 2.5rem, $padding:  0.188rem 0 0.188rem 1rem) {
    display: none;
    position: absolute;
    z-index: 1;
    top: $top;
    bottom:$bottom;
    width: $width;
    padding: $padding;
}

@mixin left-arrows-style($right: 0 , $left: 1% ,$top: 51% , $bottom: 41% , $tansf: translateY(-68%)){
    right: $right;
    left: $left;
    top: $top;
    bottom: $bottom;
    transform: $tansf;
}



